.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main {
  align-items: center;
  justify-content: center;
  width: 90%;
}

.search {
  background-color: #eeeeee;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 300px;
}

.green-boxes {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.gbox1 {
  width: 37%;
  background-color: #7ee5da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gbox2 {
  /* width: 37%; */
  font-size: 12px;
  width: 23%;
  background-color: #70ccc2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gbox3 {
  width: 40%;
  font-size: 12px;
  background-color: #62b3aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
}
